@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
html{
    background-image:url("img.avif");
    background-size: cover;
}
#m4{
    list-style: none;
    padding: 20px 40px;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
}
nav{
    /* background: linear-gradient(to right,rgb(245, 46, 46),rgb(247, 118, 75)); */
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.nav{
    position:sticky;
    top:0;
}


a:hover{
    text-decoration: underline;

    padding: 5px;
}
nav img{
    width: 200px;
    
}
.center{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
    font-family: "Playfair Display";
}
footer{
    background-color: black;
    color: white;
    position:relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 20px;
    
}

li{
    list-style-type:none;
    padding: 5px;
}

